html {
  min-height: 100%;
  background-size: cover; /*ボックス全体をカバーする大きさで表示*/
  background-image: url(../images/shinanoba.jpg);
  background-repeat: no-repeat;
  background-position: center;/*写真の見せたい場所を調整*/
}
body{
  min-height:100%;
  color: #fff;
}


p {
  text-transform: uppercase;
  letter-spacing: .5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 20em;
  margin: 0 0 0 -10em;
}
p span {
  font: 700 1em/1 Futura, Century Gothic, sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-Align: center;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(../images/fill.png) repeat-y;
  -webkit-background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
